@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

:root{
    /* FONTS */
--font-header: "Oswald", sans-serif;
--font-body: "Open sans", sans-serif;

    /* COLORS */
--color-bg:#ccd4c8;
--color-box:#e8f2eadc;
--color-primary: #2b4c2f;
--color-secondary: #0f331e;
--color-tertiary: #fdf9f5;
--color-accent:#4b3127;


--color-error:#cf3014;
--color-bg_error:#faedea;
--color-valid:rgb(91, 174, 95);

--color-text-dark:rgb(24, 39, 27);
--color-text-light:#fbfbfa;


    /* SPACING */
--margin-desktop: 9.4rem;
--margin-mobile: 2.1rem;
}