<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body>

    <h1>So you forgot your password?</h1>
    <p>No worries, click the link and make a new password</p>
    <p><a href="http://127.0.0.1/reset_password/{{reset_token}}">Click here</a> to reset your password.</p>
    
</body>

</html>