<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>

<body>

    <h1>Welcome to RentZen!</h1>
    <p>To complete your signup, please verify your account.</p>
    <p>Verification code: <strong>{{verification_code}}</strong></p>
    <p><a href="http://127.0.0.1/verify/{{email}}">Click here</a> to verify your account.</p>
    
</body>

</html>