%import x

<form id="frm_confirm_delete">
    <p>! Beware that deletion of your profile is permanent</p>
    <div>
        <label for="user_password">Password</label>
        <input id="user_password" name="user_password" class="" type="password"  autocomplete="new-password"
        mix-check="{{x.USER_PASSWORD_REGEX}}" required>
    </div>
    <button id="delete_button" mix-data="#frm_confirm_delete" mix-post="/delete_user"  mix-default="Delete your profile" mix-await="Please wait ...">
       Delete your profile
    </button>
  
</form>


