%import x

<form id="frm_reset_password">
    <input type="hidden" name="token" value="{{token}}">
    <div>
        <label for="user_password">New Password</label>
        <input id="user_password" name="user_password" class="" type="password"  autocomplete="new-password"
        mix-check="{{x.USER_PASSWORD_REGEX}}" required>
    </div>
    <div>
        <label for="confirm_user_password">Confirm Password</label>
        <input id="confirm_user_password" name="confirm_user_password" class="" type="password"  autocomplete="new-password"
        mix-check="{{x.USER_PASSWORD_REGEX}}" required>
    </div>
    <button class="" mix-data="#frm_reset_password" mix-post="/reset_password"  mix-default="Reset" mix-await="Please wait ...">
        Reset
    </button>
</form>


