<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />


    <link rel="stylesheet" href="/css/app.css">
    <script src="/mixhtml.js" defer></script>
    <script src="/app.js" defer></script>
    <title>
        {{ get("title", "Company") }}
    </title>
</head>
<body class="">

    <div id="toast" class="toast"></div>

    
    <nav class="">

        <a href="/" class="{{ get('active_home', '') }} 
            logo"
        >
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-star" width="28" height="28" viewBox="0 1 24 24" stroke-width="1.5" stroke="#FAFAFB" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M19.258 10.258l-7.258 -7.258l-9 9h2v7a2 2 0 0 0 2 2h4" />
            <path d="M9 21v-6a2 2 0 0 1 2 -2h1.5" />
            <path d="M17.8 20.817l-2.172 1.138a.392 .392 0 0 1 -.568 -.41l.415 -2.411l-1.757 -1.707a.389 .389 0 0 1 .217 -.665l2.428 -.352l1.086 -2.193a.392 .392 0 0 1 .702 0l1.086 2.193l2.428 .352a.39 .39 0 0 1 .217 .665l-1.757 1.707l.414 2.41a.39 .39 0 0 1 -.567 .411l-2.172 -1.138z" />
          </svg>RentZen
        </a>

        <form>
            <input type="text" placeholder="Where to?">
        </form>

        <div class="links">

            % if get("is_logged", False):
                <a href="/profile" class="{{ get('active_login', '') }}">
                    Your property
                </a>
            % else:
                <a href="/signup" class="{{ get('active_login', '') }}">
                    Signup
                </a>
            % end

            % if get("is_logged", False):
                <a href="/logout" class="{{ get('active_login', '') }}">
                    Logout
                </a>
            % else:
                <a href="/login" class="{{ get('active_login', '') }}">
                    Login
                </a>
            % end






        </div>
    </nav>
