<div class="property">
    <img src="/images/{{property['property_splash_image']}}" >
    <div class="title">
        <h3>
            {{property["property_name"]}}
        </h3>
        <span class="stars">
            <svg xmlns="http://www.w3.org/2000/svg" class="star_icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff8b25" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
              </svg>            
            {{property["property_stars"]}}
        </span>
    </div>
    <div>
        <p class="price_container">
        <span class="price">
            % price = int(property["property_price_per_night"])
            % price = "{:,.0f}".format(price).replace(",", ".")
            {{ price }} DKK
        </span>
        <span>
            nat
        </span>
        </p>
    </div>
    <div id="manage_property_flex">
    <button id="edit_button" class="textbutton">Edit property</button>
    <button id="delete_button" class="textbutton ">Delete property</button>
    </div>

</div>


