%include("_header")

<main id="profile">
    <section id="profile_grid_top">

        <section id="profile_info_panel">

            <h1> Welcome {{user["user_name"]}}</h1>
            <p>{{user["user_role"]}}</p>
            <p>Email: {{user["user_email"]}}</p>
            <button id="edit_profile">Edit profile</button>
            <button id="delete_profile">Delete your profile</button>
        </section>


    </section>
        <section id="booking_section">
            <h2>Your bookings</h2>
            <div class="properties_container">
            % if properties:
                <div id="properties" class="properties">
                  % for property in properties:
                  %include("_booked_property")
                  % end
                </div>
            % else:
                <p> No booked properties yet</p>
            % end
              </div>
        </section>
    
    % if 'partner' in {user["user_role"]}:
    <section id="partner_properties_section">
        <h2>Your properties</h2>
    </section>
    % end

    % if 'admin' in {user["user_role"]}:
    <section id="admin_panel">
        <h2>Admin panel</h2>
        <h4>Manage users</h4>
        <h4>Manage properties</h4>
    </section>
    % end

</main>

%include("_footer")