%include("_header")
%import x

<main id="profile">
    <section id="profile_content">
        <section id="profile_grid_top">

            <section id="profile_info_panel">
                <form id="{{user["user_pk"]}}">
                    <div id="profile_form_content">
                        <h1> Welcome {{user["user_name"]}}</h1>
                        <p>{{user["user_role"]}}</p>
                        <p>{{user["user_name"]}} {{user["user_last_name"]}}</p>
                        <p>Username: {{user["user_username"]}}</p>
                        <p>Email: {{user["user_email"]}}</p>
                    </div>
                    <div>

                        <button mix-data="[id='{{user['user_pk']}}']" mix-post="/edit_profile" class="textbutton">Edit
                            profile</button>
                        <a id="delete_link" href="/confirm_delete_profile" class="textbutton">
                            Delete your profile
                        </a>
                    </div>
                </form>
            </section>

        </section>

        <section id="booking_section">
            <h2>Your bookings</h2>
            <div class="properties_container">
                % if booked_properties:
                <div id="properties" class="properties">
                    % for property in booked_properties:
                    %include("_booked_property")
                    % end
                </div>
                % else:
                <p> No booked properties yet</p>
                % end
            </div>
        </section>


        % if 'partner' in user["user_role"]:
        <section id="partner_properties_section">
            <h2>Your properties</h2>
            <div class="properties_container">
                % if owned_properties:
                <div id="owned_properties" class="properties">
                    % for property in owned_properties:
                    %include("_owned_property")
                    % end
                </div>
                % else:
                <p>No properties owned yet</p>
                % end
            </div>
        </section>
        % end

        % if 'admin' in {user["user_role"]}:
        <section id="admin_panel">
            <h2>Admin panel</h2>
           <p>Manage properties</p>
           <div class="properties_container">

            <div id="properties" class="properties">
              % for property in properties:
              %include("_manage_property")
              % end
            </div>
          </div>
        </section>
        % end

    </section>

</main>

%include("_footer")